.Controls {
  width: 300px;
  border-left: 1px solid #aaa;

  .upload-button {
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
  }

  .palette-area {
    margin: 20px 0 0 0;
    border-bottom: 1px solid #aaa;

    button {
      border: 1px solid black;
      margin: 0 0 0 10px;
    }
  }

  .palette-info {
    border-top: 1px solid #aaa;
    padding: 10px 0;

    .colors {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .color {
    width: 10px;
    height: 10px;
  }

  .time-slider {
    width: calc(100% - 5px);
  }
}
