.Controls {
  flex-shrink: 0;
  overflow-y: auto;
  width: 300px;
  height: 100%;
  border-left: 1px solid #aaa;

  .top-area {
    padding: 10px;

    button {
      margin: 0 10px 10px 0;
    }
  }

  .palette-area {
    margin: 0 0 0 0;
    border-bottom: 1px solid #aaa;

    button {
      border: 1px solid black;
      margin: 0 0 0 10px;
      padding: 5px;
    }
  }

  .palette-info {
    border-top: 1px solid #aaa;
    padding: 10px;

    .colors {
      margin: 10px 0;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .color {
    width: 10px;
    height: 10px;
  }

  .time-slider {
    width: calc(100% - 5px);
  }
}
